
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('public/fonts/glyphicons-halflings-regular.eot');
  src: url('public/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.leftColumn-global {
  background-color: #474e78;
  height: 100vh;
}

.rightColumn-global {
  border-right: 4px solid #666666;
  height: 100vh;
}

.testingHeight {
  min-height: 200px;
  border: 2px solid black;
}

.testing {
  border: 2px solid black;
}

.navsection {
  height: 75px;
  margin-left: 10px;
}
#new-list-btn-region {
  height: 100px;
  padding-top: 35px;
}

.completed-list-region-Container,
.pending-list-region-Container,
.navsection {
  color: blue;
}

ul li {
  list-style: none;
}
/*
.completed-list-region-Container {
  margin-top: 200px;
}*/

.pending-list-region-Container {
  margin-bottom: 60px;
}

.hidden {
  display: none!important;
}

.shown {
  display: block;
}

a:link {
  text-decoration: none!important;
  color: #4d4d4d;
}

a:visited {
  text-decoration: none!important;
  color: #4d4d4d;
}

a:hover {
  text-decoration: none!important;
  cursor: pointer;
}

.right-panel-top-makespace {
  min-height: 40px;
}

.right-panel-medium-makespace {
  min-height: 20px;
}

.glyphs-header-row {
  padding-top: 25px;
}

#h3-header {
  margin-top: 0px;
}

.board-title,
.nav-header {
  height: 60px;
  width: 100%;
}

.list-column,
.board-title,
.main-container,
.nav-header {
  /*border: 1px solid blue;*/
}

.board-title h3 {
  color: #dcdcdc;
  font-family: Helvetica, Arial, sans-serif!important;
}

.list-column {
  min-height: 45px;
}


#lists-region > ul {
  display: flex;
}

#horizontalSliderList {
  display: flex;
}
#body-region {
  overflow-x: scroll!important;
  /*white-space: nowrap!important;*/
  width: 100%!important;
  height: 75vh;
}

/*#lists-region {
  white-space: nowrap;

}*/

.list-container-of-ul {
  width: 150px;
  background-color: #ebebeb!important;
  padding: 5px 10px;
  width: 200px;
}


.list-container-of-ul ul {
  padding-left: initial!important;
}

.newListclass,
.list-container-of-ul {
  /*margin-left: 15px;*/
}

.newListclass {
  background-color: #00598c;
  border: 0px;
  color: white;
}

body {
  background-color: #0079bf;
}

.nav-header {
  background-color: #00598c!important;
  color: white!important;
}

small {
  color: #9d9d9d!important;
}

.rowListTitleAndDelete {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.listTitle {
  font-weight: bold;
}

.wellForCard {
  margin-bottom: 6px;
  padding: 5px;
  background-color: white;
}

.btn-add-card {
  width: 100%;
  min-height: 10px!important;
  color: white
}

/* highlight drag & drop */

/* Draggabilly adds is-dragging */
.grid-item.is-dragging,
/* Packery adds class while transitioning to drop position */
.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 2; /* keep dragged item on top */
}

.grid-sizer {
  width: 210px;
  margin-left: 55px;
}
.grid-item {
  width: 200px;
}
/* 2 columns wide */
.grid-item--width2 { width: 40%; }

.grid {
  /*width: 100%!important;*/
}
